<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <b><a href="www.google.co.za" class="link">
      <span class="blue-text">G</span>
      <span class="red-text">o</span>
      <span class="yellow-text">o</span>
      <span class="blue-text">g</span>
      <span class="green-text">l</span>
      <span class="red-text">e</span>
    </a></b>
  </body>
</html>
